#top {
  background-color:aqua;
}

#bottom {
  background-color:blueviolet;
}

#a {
  background-color:brown;
}

#b {
  background-color: burlywood;
}

#c {
  background-color:chartreuse;
}

#d {
  background-color:darkblue;
}

#e {
  background-color:darkred;
}

#f {
  background-color:darkslategray;
}

#g {
  background-color:goldenrod;
}
